@CHARSET "UTF-8";
/* CSS used here will be applied after bootstrap.css */

/*================================================================================*/
/*Font*/
/*================================================================================*/
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
	font-family: Roboto-heading;
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/Roboto-Medium.ttf);
}
h1,h2,h3,h4,h5,h6 {
	font-family: Roboto-heading;
	font-weight: 500;
}
p {
	font-size: 16px;
}
html {
	-webkit-font-smoothing:antialiased;
}









/*================================================================================*/
/*COMMON CSS CODE*/
/*================================================================================*/


body {
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
	color:#505656;
	line-height: 1.625;
}
img {
	display:block;
	width: 100%;
	height: auto;
}
::selection {
	background-color: #3491CE;
	color:#FFF;
	border-radius: 30px;
}
::-moz-selection {
	background-color: #3491CE;
	color:#FFF;
}
a {
	transition:all 0.2s;
	-o-transition:all 0.2s;
	-webkit-transition :all 0.2s;
}
form td {
	padding:5px 10px;
	vertical-align: bottom;
}
select {
	max-width:100%;
}
label {
	font-weight: inherit;
	padding-left:20px;
	cursor: pointer;
}
.fake-link {
	cursor: pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
}
.block-link {
	display: block;
}
.theme-color {
	color:#3491CE;
}
.background-theme-color{
	background-color: #3491CE;
}
.info-color {
	color:#5BC0DE;
}
.background-info-color {
	background-color:#5BC0DE;
	color:#FFF;
}
.float-right {
	float:right;
}











/*================================================================================*/
/*NAVBAR CSS CODE*/
/*================================================================================*/


ul.navbar-nav li a:hover,  ul.navbar-nav li:focus, ul.navbar-nav a:focus{
	background-color: rgba(0,0,0,0.15);
}
body {
	margin-top: 55px;
}
@media (min-width: 850px) {
	ul.navbar-nav li a:hover,  ul.navbar-nav li:focus, ul.navbar-nav a:focus{
		box-shadow :inset 0 -2px 0 #ffffff;
		-webkit-box-shadow :inset 0 -2px 0 #ffffff;
		background-color: transparent;
		color:#FFF;
	}
	ul.navbar-nav li {
		margin-left: 30px;
	}
	ul.navbar-nav .active {
		box-shadow :inset 0 -2px 0 #ffffff;
		-webkit-box-shadow :inset 0 -2px 0 #ffffff;
		background-color: transparent;
	}
}
ul.navbar-nav a {
	color:#bbe6ff;
	text-transform: uppercase;
	padding-top: 19px;
	padding-bottom:15px;
}
ul.navbar-nav .active {
	color:#FFF;
}
ul.navbar-nav a:hover{
	background-color:transparent;
}
#navbar{
	background:#3491CE;
	margin-bottom: 0;
	border-bottom:1px solid #246489;
	height:55px;
}
@media (max-width:850px){
	#navbar .container {
		width:100%;
		padding:0;
	}
}
@media (min-width: 992px){
	#navbar .container {
		width:750px;
	}
}
@media (min-width: 1063px) {
	#navbar .container {
		width: 970px;
	}
}
@media (max-width: 768px) {
	#navbar .container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (min-width: 1200px) {
	#navbar .container {
		width: 1170px;
	}
}
.navbar-collapse {
	width:120%;
}
.navbar-brand{
	color:#FFF;
	background-color:rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 35px;
}
@media(max-width: 850px){
	.logo {
		position: relative;
		top:0;
		left:55px;
	}
}
.toggle-panel {
	position: absolute;
	top: 0;
	left:0;
	height:55px;
	width: 50px;
	background : transparent;
	border-radius: 0;
	border:none;
	padding: 6px 12px;
	box-shadow: none;
}
.toggle-panel:hover, .toggle-panel:focus {
	background:rgba(0, 0, 0, 0.15);
}
.toggle-panel i{
	text-align: center;
	color:#bbe6ff;
}
.navbar-toggle {
	border: 1px solid #FFF;
	position: absolute;
	top:0;
	right: 0;
}
.navbar-toggle .icon-bar {
	background:#FFF;
}
.navbar-toggle:hover {
	background: #FFF;
}
.navbar-toggle:hover .icon-bar{
	background: #3491CE;
}
@media (max-width: 850px){
	.navbar-collapse {
		background-color: #3491CE;
		border-bottom:1px solid #246489;
	}
}










/*================================================================================*/
/*JUMBOTRON CSS CODE*/
/*================================================================================*/








.jumbotron {
	background-color:#3491CE;
	color:#FFF;
	margin-bottom:0;
}
.masthead {
	padding: 100px 0;
}
@media (min-width: 768px){
	.masthead h1{
		font-size: 84px;
		text-align: center;
	}
}
.masthead h1{
	text-align: center;
}
@media (min-width: 992px){
	.masthead p{
		font-size: 28px;
	}
}
.masthead p{
	color:#bbe6ff;
	text-align: center;
	margin-bottom: 20px;
}
.masthead .btn {
	text-align: center;
}
.jumbotron .btn-primary {
	background: #3491CE;
	border: 1px solid #FFF;
}
.jumbotron h1 {
	font-weight: 700;
}
.jumbotron .btn-primary:hover, .jumbotron .btn-primary:hover .btn-primary:focus {
	background: #FFF;
	color:#3491CE;
}
.jumbotron .btn-lg {
	padding: 15px 40px;
	font-size: 24px;
	border-radius: 30px;
	color:#3d4045;
	background-color: rgba(225,225,225,0.9);
	border:0;
}

#check-me-out {
	padding-top: 60px;
	margin-top: -60px;
}








/*================================================================================*/
/*Content CSS CODE*/
/*================================================================================*/


.article h1{
	margin-bottom: 30px;
	padding-top: 60px;
	border-top: 1px solid #e3e3e3;
}
.article h1:first-child{
	padding-top:0;
	border-top: 0px solid #e3e3e3;
}
.section {
	padding: 80px 0px;
}
.section.gray {
	background-color: #f7f7f7;
}
.section.blue {
	background: #3491CE;
	color:white;
}
.section.black {
	background: #222;
	color:white;
}

.background-cover {
	background-repeat: no-repeat;
	background-size: center center;
	background-size: cover;
}




/*-------------------------------------------------*/
/*CONFIGURATOR CHAPTER CSS CODE*/
/*-------------------------------------------------*/


.con-fig-header {
	-webkit-user-select:none;
}
.con-fig-header h2, .con-fig-header h2:hover, .con-fig-header h2:focus {
	color:#FFF;
	text-decoration: none;
}
.con-fig-header .fa{
	font-size:8px;
	position: relative;
	bottom: 2px;
}
.panel {
	border-radius: 0;
}
.panel-heading {
	/*background-color: #3491CE !important;*/
	background-image:none !important;
	border:none !important;
	border-radius: 0;
	border:0 !important;
	cursor: pointer;
}
.price-sidebar.affix {
	top:60px;
	height:100%;
	padding-bottom: 70px;
	width: 262.5px;
}
@media (max-width:992px) {
	.price-sidebar.affix {
		position: relative;
		top: 0;
	}
}
.panel {
	margin-bottom: 10px;
}
.sub-sectionToggle {
color: #3491CE;
cursor: pointer;
-webkit-user-select: none;
}
.fa-play {
	font-size: inherit !important;
}
.panel-default {
	border:0 !important;
}
.container .panel-default:nth-child(2),
.container .panel-default:nth-child(6) {
	margin-bottom: 20px;
}

.container .panel-default:last-child {
	margin-bottom: 0px;
}

.container .panel-default:nth-child(2) .panel-heading {
	background: #f3950f !important;
}

.container .panel-default:nth-child(3) .panel-heading,
.container .panel-default:nth-child(4) .panel-heading,
.container .panel-default:nth-child(5) .panel-heading,
.container .panel-default:nth-child(6) .panel-heading {
	background: #3491CE !important;
}

.container .panel-default:nth-child(7) .panel-heading,
.container .panel-default:nth-child(8) .panel-heading {
	background: #5bc0de !important;
}
.panel-body {
	padding: 15px;
	border: 1px solid #ddd;
}



/*----------------------------------------------*/
/*CONFIGURATOR SECTION CSS CODE*/
/*----------------------------------------------*/

.readmore_button {
	padding-bottom: 10px;
	color:#3491CE;
}





/*----------------------------------------------*/
/*CONFIGURATOR SECTION YOUR CHOICE CSS CODE*/
/*----------------------------------------------*/


input[type="radio"] {
	margin: 3px 8px 0px 5px;
}
.ghost {
	opacity: .6;
	cursor:not-allowed;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + span[type="button"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: -20px;
    width: 12px;
    height: 12px;
    margin-bottom: 5px;
    border-radius: 500px;
    border: 1px solid #ccc;
    margin-right: 5px;
    text-align: center;
}
input[type="radio"]:checked + span[type="button"]{
     border-color: rgb(52,145,206);
     background-color: #3491CE;
}
label:hover span[type="button"]{
     border-color:#3491CE;
}

input[type="radio"]:disabled + span[type="button"]{
     border-color: rgba(204,204,204,0.5);
     cursor: not-allowed;
}



/*----------------------------------------------*/
/*CONFIGURATOR SECTION COMPARISOM TABLE CSS CODE*/
/*----------------------------------------------*/


.center {
	text-align: center;
}

.side-table-heading {
	text-align: right;
}
.table-left-title {
	font-weight: bold;
	text-align: right;
}
.tableHeading {
	background:#8bcbee !important;
}
#right-button-column {
	padding-left:0;
}
#right-button-column {
	padding-left:0;
}

/*----------------------------------------------*/
/*CONFIGURATOR SECTION GALLERY CSS CODE*/
/*----------------------------------------------*/

/* CSS used here will be applied after bootstrap.css */
.carousel {
    margin-top: 20px;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;
}
.carousel-inner .thumb{
	padding-right:20px;
}
.carousel-control {
	width: 5%;
}

/*----------------------------------------------*/
/*CONFIGURATOR SIDEBAR AND FOOTER CODE*/
/*----------------------------------------------*/

.resultstring {
	font-size: 13px;
}
.footer {
	background-color: #333;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
}



/*----------------------------------------------*/
/*CONFIGURATOR COLOR THEME CODE*/
/*----------------------------------------------*/

#VillageHeader {
	background-color: #3491CE;
	color:#FFF;
}
#ThirdPartyHeader {
	background-color: #09ECFC;
	color:#FFF;
}

#chapter-0 .sub-sectionToggle,
#chapter-0 .readmore_button {
	color:#f3950f !important;
}
#chapter-0 input[type="radio"]:checked + span[type="button"]{
	background-color:#f3950f !important;
	border-color:#f3950f !important;
}
#chapter-0 input[type="radio"]:hover + span[type="button"]{
	border-color:#f3950f !important;
}
#chapter-5 .sub-sectionToggle,
#chapter-5 .readmore_button,
#chapter-6 .sub-sectionToggle,
#chapter-6 .readmore_button {
	color:#5bc0de !important;
}
#chapter-5 input[type="radio"]:checked + span[type="button"],
#chapter-6 input[type="radio"]:checked + span[type="button"]{
	background-color:#5bc0de !important;
	border-color:#5bc0de !important;
}
#chapter-5 input[type="radio"]:hover + span[type="button"],
#chapter-6 input[type="radio"]:hover + span[type="button"]{
	border-color:#5bc0de !important;
}
.collapse-summary:nth-of-type(1) .collapse-summary-heading,
.collapse-summary:nth-of-type(2) .collapse-summary-heading,
.collapse-summary:nth-of-type(3) .collapse-summary-heading,
.collapse-summary:nth-of-type(4) .collapse-summary-heading{
	color:#3491CE;
}
.collapse-summary:nth-of-type(4) {
	padding-bottom:20px;
	border-bottom:1px solid #EEE;
}
.collapse-summary:nth-of-type(5) {
	padding-top:20px;
}
.collapse-summary:nth-of-type(5) .collapse-summary-heading,
.collapse-summary:nth-of-type(6) .collapse-summary-heading{
	color:#5bc0de;
}
.close {
	opacity: 1;
}
.btn-primary {
	background-color: #3491CE;
}
.carousel {
    margin-top: 20px;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;	
}
.useCase {
	cursor: pointer;
}
.displayNone {
	display:none;
}
#configurator {
	margin-top: 20px;
}
Chapter,Section {
	display: block;
}