<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Configurator</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/screen.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="controller/Configurator.js"></script>
</head>

<body ng-app="configApp" ng-controller="myCtrl">
    <!--Begin nvbar-->
    <navbar></navbar>
    <!--End Navbar-->

    <!--Begin Jumbotron-->
    <jumbotron></jumbotron>
    <!--End Jumbotron-->

    <!--[if lte IE 8]>
        <script>alert(IE 8)</script>
    <![endif]-->

    <div class="section">
        <!--Begin Configurator-->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9" id="configurator">
                    <h1 id="check-me-out">Configuration</h1>
                    <div ng-repeat="Chapter in data" class="panel panel-default">
                        <div ng-click="toggle($event)" class="panel-heading con-fig-header">
                            <h2><i class="fa fa-play"></i> {{Chapter.name}}</h2>
                        </div>
                        <div style="display:none" class="panel-body collapsable" ng-init="chapterIndex=$index" id="chapter-{{$index}}">
                            <div id="ViCase" class="configirator-section" ng-repeat="Section in Chapter.data" ng-init="sectionIndex=$index">
                                <div class="col-sm-2 ">
                                    <img ng-if="cart[Chapter.name][Section.name].lastclickedImg" ng-src="{{cart[Chapter.name][Section.name].lastclickedImg}}">
                                </div>
                                <!--
                               Chapter = chapters
                               Section = Sections
                           -->
                                <div class="col-sm-10">
                                    <h3 ng-click="toggle($event)" class="sub-sectionToggle"><span><i class="fa fa-play"></i> {{Section.name}}</span></h3>
                                    <div class="collapsable" style="display:none">
                                        <!-- your choice -->
                                        <h4 ng-click="toggle($event)" class="fake-link readmore_button block-link open"><i class="fa fa-play fa-rotate-90"></i> Your Choice</h4>
                                        <div class="readmore_area show-first open radio_button collapsable">
                                            <div ng-if="Section.name=='Field of Application'">
                                                <div ng-repeat="choice in Section.yourChoice" class="col-sm-4 well useCase">
                                                    <label>
                                                        <input type="radio" name="{{Chapter.name + Section.name}}" style="display:none" ng-init="initIndex(Chapter.id,Chapter.name,Section.name,choice)" ng-click="radioClick(choice,Chapter.name,Section.name,choice.Child_Name,true)"> 
                                                        {{ choice.name }}
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- readyconfig -->
                                            <div ng-if="Section.name=='Use'">
                                                <div style="display:none" class="readyConfig" ng-repeat="choice in Section.yourChoice">
                                                    <label>
                                                    <input type="radio" ng-click="readyConfig($event,true)" for="{{choice.for}}" id="{{choice.id}}" name="{{Chapter.name + Section.name}}" value="{{choice.value}}"><span type="button"></span><span data-toggle="tooltip" data-placement="right">{{choice.name}}</span></label>
                                                </div>
                                                </div>
                                                <div ng-if="Section.name == 'Form Factor'">
                                                    <div ng-repeat="choice in Section.yourChoice">
                                                    <label>
                                                    <input type="radio" ng-init="initIndex(Chapter.id,Chapter.name,Section.name,choice)" ng-click="readyConfig($event,false);radioClick(choice,Chapter.name,Section.name,choice.Child_Name,false)" for="{{choice.for}}" id="{{choice.id}}" name="{{Chapter.name + Section.name}}" value="{{choice.value}}"><span type="button"></span><span data-toggle="tooltip" data-placement="right">{{choice.name}}</span></label>
                                                    </div>
                                                </div>
                                                <div ng-if="Section.name == 'Preview'">
                                                    <button style="margin-bottom:30px;" class="btn btn-success" ng-click="Preview()">Render Prewiew</button>
                                                    <div class="row" ng-if="Display_Number != '3-Displays'">
                                                    <div class="col-sm-6">
                                                        <img ng-src="images/Preview/{{img1}}">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <img ng-src="images/Preview/{{img2}}">
                                                    </div>
                                                    </div>
                                                    <div ng-if="Display_Number == '3-Displays'">
                                                    <div style="margin-bottom:50px;">
                                                        <img ng-src="images/Preview/{{img1}}">
                                                    </div>
                                                    <div>
                                                        <img ng-src="images/Preview/{{img2}}">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div ng-if="Section.name == 'Save and Load My Config'">
                                                    <button class="btn btn-primary" ng-click="makeJSON()"> <i class="fa fa-cart-arrow-down"></i> Save My Config</button>
                                                </div>

                                            
                                            <!--End ReadyConfig-->

                                            <!--Choice = radio buttons-->

                                            <!--Normal Choice-->
                                            <div ng-if="Section.name!='Use' && Section.name!='Field of Application' && Section.name != 'Form Factor'" ng-repeat="choice in Section.yourChoice">
                                                <label>
                                                    <input buttondir class="normal-radio" type="radio" ng-init="initIndex(Chapter.id,Chapter.name,Section.name,choice)" ng-click="radioClick(choice,Chapter.name,Section.name,choice.Child_Name,false)" data-child="{{ choice.Child_Name }}" id="{{choice.id}}" name="{{Chapter.name + Section.name}}"><span type="button"></span><span style="padding-right:10px;">{{choice.name}}<span ng-if="choice.value!= 0"> - ${{choice.value}}</span></span> <span style="color:#bbb;">{{choice.tag}}</span>  </label>
                                            </div>
                                            <div ng-if="Section.name!='Use' && Section.name!='Field of Application' && Section.name != 'Form Factor' && Section.name != 'Preview'" ng-class="{'displayNone' : Section.noNone == true}">
                                                <label>
                                                    <input type="radio" ng-init="initIndex(Chapter.id,Chapter.name,Section.name,'None');choice.name = 'None'" data-child="{{ choice.Child_Name }}" id="{{Section.NoneID}}" ng-click="radioClick(choice,Chapter.name,Section.name,choice.Child_Name,false)" class="None" name="{{Chapter.name + Section.name}}" value="0"><span type="button"></span><span>None</span></label>
                                            </div>
                                            <!--End Normal Choice-->
                                        </div>
                                        <!-- compair -->
                                        <div ng-if="Section.TableBody">
                                            <h4 ng-click="toggle($event)" class="fake-link sub-sectionToggle readmore_button block-link"><i class="fa fa-play"></i> Comparison Table</h4>
                                            <div class="collapsable readmore_area " style="display: none;">
                                                <div>
                                                    <table style="margin-bottom:0" class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th ng-repeat="heading in Section.TableHeading" class="{{heading.class}}">{{heading.name}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="hi in Section.TableBody">
                                                                <td class="table-left-title">{{hi.title}}</td>
                                                                <td ng-repeat="rows in hi.row track by $index" ng-bind-html="rows"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div ng-if="Section.TableTag">
                                                        <ul>
                                                            <li style="font-size:11;" ng-repeat="Tag in Section.TableTag">{{Tag}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- advice -->
                                        <div ng-if="Section.Advice">
                                            <h4 ng-click="toggle($event)" class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Advice</h4>
                                            <div class="collapsable readmore_area" style="display: none;">
                                                <div ng-repeat="advice in Section.Advice">
                                                    <h4 style="color:#bbb;font-weight:600;">{{advice.heading}}</h4>
                                                    <p>{{advice.content}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Gallery/Carousel  -->
                                             <div ng-if="Section.Gallery">
                                                <h4 ng-click="toggle($event)" class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Gallery</h4>
                                                <div class="collapsable readmore_area" style="display: none;">
                                                    <div id="{{'section-'+chapterIndex+'-gallary-'+$index}}" ng-init="initGallery('section-'+chapterIndex+'-gallary-'+$index)" class="carousel slide" data-ride="carousel">
                                                        <div class="carousel-inner">
                                                            <div ng-repeat="gallery in Section.Gallery" class="item">
                                                                <h4 style="font-weight:600;color:#bbb">{{gallery.title}}</h4>
                                            							 <p>{{gallery.description}}</p>
                                                                <img ng-src="{{gallery.image}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix">
                                                        <div data-interval="false" id="{{'section-'+chapterIndex+'-gallary-'+$index+'thumb'}}"  ng-init="initGallery('section-'+chapterIndex+'-gallary-'+$index+'thumb')" class="carousel slide">
                                                            <div class="carousel-inner">
                                                                <div ng-repeat="gallery in Section.Gallery" ng-if="$index%4==0" class="item">
                                                                  <div data-target="{{'#section-'+chapterIndex+'-gallary-'+$parent.$parent.$index}}" data-slide-to="{{$index}}" class="thumb"><img ng-src="{{Section.Gallery[$index].image}}"></div>
																						<div data-target="{{'#section-'+chapterIndex+'-gallary-'+$parent.$parent.$index}}" data-slide-to="{{$index+1}}" class="thumb"><img ng-src="{{Section.Gallery[$index+1].image}}"></div>
                                                                  <div data-target="{{'#section-'+chapterIndex+'-gallary-'+$parent.$parent.$index}}" data-slide-to="{{$index+2}}" class="thumb"><img ng-src="{{Section.Gallery[$index+2].image}}"></div>
                                                                  <div data-target="{{'#section-'+chapterIndex+'-gallary-'+$parent.$parent.$index}}" data-slide-to="{{$index+3}}" class="thumb"><img ng-src="{{Section.Gallery[$index+3].image}}"></div>
                                                              </div>
                                                                 <!-- /item -->
                                                           </div>
                                                            <!-- /carousel-inner -->
                                                            <a class="left carousel-control" href="{{'#section-'+chapterIndex+'-gallary-'+$index+'thumb'}}" role="button" data-slide="prev">
                                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                            </a>
                                                            <a class="right carousel-control" href="{{'#section-'+chapterIndex+'-gallary-'+$index+'thumb'}}" role="button" data-slide="next">
                                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>                                     
                                      </div>    
                                        <!-- datasheet -->
                                        <div ng-if="Section.Datasheet">
                                            <h4 ng-click="toggle($event);" class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Datasheet</h4>
                                            <div datasheet ng-repeat="datasheet in Section.Datasheet" style="display: none;" class="collapsable readmore_area radio-tables">
                                                <ul class="nav nav-tabs">
                                                    <li ng-repeat="buttons in datasheet.button" class="{{buttons.class}}"><a  ng-click="addTabs($index);" data-toggle="tab" class="fake-link">{{buttons.name}}</a></li>
                                                </ul>
                                                <div>
                                                    <div ng-if="tabs == $index" ng-repeat="table in datasheet.tables">
                                                        <table class="table table-striped">
                                                            <tbody>
                                                                <tr ng-repeat="tablerow in table.table" class="{{tablerow.class}}">
                                                                    <td class="table-left-title">{{tablerow.title}}</td>
                                                                    <td ng-repeat="row in tablerow.row track by $index" ng-bind-html="row"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <!--               sidebar -->
                <div class="col-md-4 col-lg-3">
                    <div class="price-sidebar" data-spy="affix" data-offset-top="560">
                    <h1>Summary</h1>
                        <div class="collapse-summary" ng-repeat="(chapters, cvalue) in cart" ng-if="chapters!='thirdprtycost'&&chapters!='vtcost'&&chapters!='cost'&&chapters!='count' && chapters!='thirdprtycount' && chapters!='vtcount' && chapters!='ID-1'">
                            <span ng-if="chapters!='thirdprtycost'&&chapters!='vtcost'&&chapters!='cost'&&chapters!='count' && chapters!='thirdprtycount' && chapters!='vtcount'">
                           <h4 class="collapse-summary-heading" ng-click="toggle($event)" ><i class="fa fa-play fa-rotate-90"></i> {{cart[chapters].name}} <span style="float:right">${{cart[chapters].cost}}</span></h4>
                           <div class="collapsable">
                              <span   ng-repeat="(sections, svalue) in cart[chapters]">
                              <div ng-if="cart[chapters][sections].lastclicked != 'None'"><span>{{cart[chapters][sections].lastclicked}} </span><span style="float:right" ng-if="cart[chapters][sections].cost != 0 && cart[chapters][sections].cost != null">${{cart[chapters][sections].cost}}</span></div>
                            </span>
                        </div>
                        </span>
                    </div>
                    <hr>
                    <div class="Total-price">
                        <div ng-click="toggle($event,true)">
                            <h4 style="color:#AFAFAF"><i class="fa fa-play fa-rotate-90"></i> Total Cost <span style="float:right;">${{cart.cost}}</span></h4>
                        </div>
                        <div class="collapsable">
                            <p style="font-size:11px">This is the total cost of your PC. Bear in mind that most likely most parts are from 3rd Party and that the costs we listed are guide pricing in USA as of November 2015. Cost in your country or at another time may vary.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-7">
                        <button style="display:block" data-toggle="modal" data-target="#VillageModal" class="btn btn-primary checkout"><i class="fa fa-cart-arrow-down"></i> Checkout Village</button>
                    </div>
                    <div class="col-sm-5" id="right-button-column">
                        <button style="width:100%" data-toggle="modal" data-target="#ThirdPartyModal" class="btn btn-info checkout"> <i class="fa fa-cart-arrow-down"></i> 3rd Party</button>
                    </div>
                    </div>
                     <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--End Configurator-->
    <!--This is the jQuery ui dialog box-->
    <!--End Dialog-->
    <!--<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>V²Community</h3>
                    <p>Open Source PCI Express Expansion: Cables, Host Ports and Boxes. Standards, Reference Designs, Manufacturing Kits, Documentation, Tools.</p>
                </div>
            </div>
        </div>
    </div>-->
    <div class="modal fade" id="ThirdPartyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" id="ThirdPartyHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i style="color:#FFF" class="fa fa-times fa-inverse"></i></span></button>
            <h4 class="modal-title" id="myModalLabel">Checkout Third Party (<span>{{cart.thirdprtycount}} items</span>)</h4>
          </div>
          <div class="modal-body clearfix">
            <div ng-repeat="(chapters, cvalue) in cart">
                <div ng-if="chapters!='thirdprtycost'&&chapters!='vtcost'&&chapters!='cost'&&chapters!='count'&&chapters!='3. ViDock'&&chapters!='2. ViCase'&&chapters!='1. Ready Configs' && chapters!='thirdprtycount' && chapters!='vtcount'">
                    <h4>{{chapters}} <span class="info-color float-right">${{cart[chapters].cost}}</span></h4>
                    <div ng-repeat="(sections, svalue) in cart[chapters]"><a class="checkout-list" ng-href="{{cart[chapters][sections].lastclickedLink}}">{{cart[chapters][sections].lastclicked}}</a><span style="float:right" ng-if="cart[chapters][sections].cost != 0 && cart[chapters][sections].cost != null">${{cart[chapters][sections].cost}}</span></div>
                </div>
            </div>
            <div class="float-right">
                <h4 class="info-color">${{cart.thirdprtycost}}</h4>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="VillageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" id="VillageHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i style="color:#FFF" class="fa fa-times fa-inverse"></i></span></button>
            <h4 class="modal-title" id="myModalLabel">Checkout Village Parts (<span>{{cart.vtcount}} items</span>)</h4>
          </div>
          <div class="modal-body clearfix">
            <div ng-repeat="(chapters, cvalue) in cart">
                <div ng-if="chapters!='thirdprtycost'&&chapters!='vtcost'&&chapters!='cost'&&chapters!='count'&&chapters!='4. PC Parts'&&chapters!='5. Accessories'&&chapters!='1. Ready Configs' && chapters!='thirdprtycount' && chapters!='vtcount'">
                    <h4>{{chapters}} <span class="theme-color float-right">${{cart[chapters].cost}}</span></h4>
                    <div ng-repeat="(sections, svalue) in cart[chapters]"><a class="checkout-list" ng-href="{{cart[chapters][sections].lastclickedLink}}">{{cart[chapters][sections].lastclicked}}</a><span style="float:right" ng-if="cart[chapters][sections].cost != 0 && cart[chapters][sections].cost != null">${{cart[chapters][sections].cost}}</span></div>
                </div>
            </div>
            <br>
            <div class="float-right">
                <h4 class="theme-color">${{cart.vtcost}}</h4>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>