<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Configurator</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/screen.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="controller/Configurator.js"></script>
</head>

<body ng-app="configApp" ng-controller="myCtrl">
    <!--Begin nvbar-->
    <navbar></navbar>
    <!--End Navbar-->

    <!--Begin Jumbotron-->
    <jumbotron></jumbotron>
    <!--End Jumbotron-->

    <!--[if lte IE 8]>
        <script>alert(IE 8)</script>
    <![endif]-->

    <div class="section">
        <!--Begin Configurator-->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9" id="configurator">
                    <h1 id="check-me-out" class="clearfix">V²Configuration <span class="float-right" data-toggle="modal" data-target="#ConfigurationHelp"><i data-toggle="tooltip" data-placement="top" title="Help" class="fa fa-question-circle useCase"></i></span></h1>
                    <div ng-repeat="Chapter in data" class="panel panel-default">
                        <div ng-click="toggle($event)" class="panel-heading con-fig-header">
                            <h2><i class="fa fa-play"></i> {{Chapter.name}}</h2>
                        </div>
                        <div style="display:none" class="panel-body collapsable" ng-init="chapterIndex=$index" id="chapter-{{$index}}">
                            <div class="configirator-section" ng-repeat="Section in Chapter.data" ng-init="sectionIndex=$index" id="{{Section.id}}" ng-class="{'displayNone':Section.Config}">
                                <div class="col-sm-2 ">
                                    <img ng-if="cart[Chapter.id][Section.id].lastclickedImg" ng-src="{{cart[Chapter.id][Section.id].lastclickedImg}}">
                                </div>
                                <!--
                               Chapter = chapters
                               Section = Sections
                           -->
                                <div class="col-sm-10">
                                    <h3 ng-click="toggle($event)" class="sub-sectionToggle"><span><i class="fa fa-play"></i> {{Section.name}}</span></h3>
                                    <div class="collapsable" style="display:none">
                                        <!-- your choice -->
                                        <h4 ng-click="toggle($event)" class="fake-link readmore_button block-link open"><i class="fa fa-play fa-rotate-90"></i> Your Choice</h4>
                                        <div class="readmore_area show-first open radio_button collapsable">
                                            <div ng-if="Section.name=='Field of Application'">
                                                <div ng-repeat="choice in Section.yourChoice" class="col-sm-4 well useCase">
                                                    <label>
                                                        <input type="radio" name="{{Chapter.name + Section.name}}" style="display:none" ng-init="initIndex(Chapter.id,Chapter.name,Section.id,Section.name,choice)" ng-click="radioClick(choice,Chapter.id,Section.id,choice.Child_Name,'hide section')"> 
                                                        {{ choice.name }}<br>
                                                        <span ng-if="choice.name != 'Gaming'">(not finished)</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- readyconfig -->
                                            <div ng-if="Section.Config">
                                                <div class="readyConfig" ng-repeat="choice in Section.yourChoice">
                                                    <label>
                                                    <input type="radio" ng-click="readyConfig($event,true)" for="{{choice.for}}" id="{{choice.id}}" name="{{Chapter.name + Section.name}}" value="{{choice.value}}"><span type="button"></span><span data-toggle="tooltip" data-placement="right">{{choice.name}}</span> <span style="color:#bbb;" ng-bind-html="choice.tag"></span></label>
                                                </div>
                                                </div>
                                                <div ng-if="Section.name == 'Form Factor'">
                                                    <div ng-repeat="choice in Section.yourChoice">
                                                    <label>
                                                    <input type="radio" ng-init="initIndex(Chapter.id,Chapter.name,Section.id,Section.name,choice)" ng-click="readyConfig($event,false);radioClick(choice,Chapter.id,Section.id,choice.Child_Name,'disable button')" for="{{choice.for}}" id="{{choice.id}}" name="{{Chapter.name + Section.name}}" value="{{choice.value}}"><span type="button"></span><span data-toggle="tooltip" data-placement="right">{{choice.name}}</span></label>
                                                    </div>
                                                </div>
                                                <div ng-if="Section.name == 'Preview'">
                                                    <button style="margin-bottom:30px;" class="btn btn-success" ng-click="Preview()">Render Prewiew</button>
                                                    <div class="row" ng-if="Display_Number != '3-Displays'">
                                                    <div class="col-sm-6">
                                                        <img ng-src="images/Preview/{{img1}}">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <img ng-src="images/Preview/{{img2}}">
                                                    </div>
                                                    </div>
                                                    <div ng-if="Display_Number == '3-Displays'">
                                                    <div style="margin-bottom:50px;">
                                                        <img ng-src="images/Preview/{{img1}}">
                                                    </div>
                                                    <div>
                                                        <img ng-src="images/Preview/{{img2}}">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div ng-if="Section.name == 'Save and Load My Config'">
                                                    <div class="row">
                                                    <div class="col-sm-3">
                                                    <button class="btn btn-success" ng-click="makeJSON()" data-toggle="modal" data-target="#SaveModal"> <i class="fa fa-clipboard"></i> Save My Config</button></div>
                                                    <div class="col-sm-3">
                                                    <button class="btn btn-primary" data-toggle="modal" data-target="#loadModal"><i class="fa fa-upload"></i> Load Config &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button></div></div>
                                                </div>

                                            
                                            <!--End ReadyConfig-->

                                            <!--Choice = radio buttons-->

                                            <!--Normal Choice-->
                                            <div ng-if="Section.name!='Gaming Custom PC' && Section.name!='Field of Application' && Section.name != 'Form Factor'" ng-repeat="choice in Section.yourChoice">
                                                <label>
                                                    <input buttondir class="normal-radio" type="radio" ng-init="initIndex(Chapter.id,Chapter.name,Section.id,Section.name,choice)" ng-click="radioClick(choice,Chapter.id,Section.id,choice.Child_Name,'disable button')" data-child="{{ choice.Child_Name }}" id="{{choice.id}}" name="{{Chapter.name + Section.name}}"><span type="button"></span><span style="padding-right:10px;">{{choice.name}}<span ng-if="choice.value!= 0"> - ${{choice.value}}</span></span> <span style="color:#bbb;">{{choice.tag}}</span>  </label>
                                            </div>
                                            <div ng-if="Section.name!='Gaming Custom PC' && Section.name!='Field of Application' && Section.name != 'Form Factor' && Section.name != 'Preview' && Section.id != 'ID-556'" ng-class="{'displayNone' : Section.noNone == true}">
                                                <label>
                                                    <input type="radio" ng-init="initIndex(Chapter.id,Chapter.name,Section.id,Section.name,'None');choice.name = 'None'" data-child="{{ choice.Child_Name }}" id="{{Section.NoneID}}" ng-click="radioClick(choice,Chapter.id,Section.id,choice.Child_Name,'disable button')" class="None" name="{{Chapter.name + Section.name}}" value="0"><span type="button"></span><span>None</span></label>
                                            </div>
                                            <!--End Normal Choice-->
                                        </div>
                                        <!-- compair -->
                                        <div ng-if="Section.TableBody">
                                            <h4 ng-click="toggle($event)" class="fake-link sub-sectionToggle readmore_button block-link"><i class="fa fa-play"></i> Comparison Table</h4>
                                            <div class="collapsable readmore_area " style="display: none;">
                                                <div>
                                                    <table style="margin-bottom:0" class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th ng-repeat="heading in Section.TableHeading" class="{{heading.class}}">{{heading.name}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="hi in Section.TableBody" class="{{hi.class}}">
                                                                <td class="table-left-title">{{hi.title}}</td>
                                                                <td ng-repeat="rows in hi.row track by $index" ng-bind-html="rows"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div ng-if="Section.TableTag">
                                                        <ul>
                                                            <li style="font-size:11;" ng-repeat="Tag in Section.TableTag">{{Tag}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- advice -->
                                        <div ng-if="Section.Advice">
                                            <h4 ng-click="toggle($event)" class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Advice</h4>
                                            <div class="collapsable readmore_area" style="display: none;">
                                                <div ng-repeat="advice in Section.Advice">
                                                    <h4 style="color:#bbb;font-weight:600;">{{advice.heading}}</h4>
                                                    <p ng-bind-html="advice.content"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Gallery/Carousel  -->
                                             <div ng-if="Section.Gallery">
                                                <h4 ng-click="toggle($event)" class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Gallery</h4>
                                                <div class="collapsable readmore_area" style="display: none;">
                                                    <div id="{{'section-'+chapterIndex+'-gallary-'+$index}}" ng-init="initGallery('section-'+chapterIndex+'-gallary-'+$index)" class="carousel slide" data-ride="carousel">
                                                        <div class="carousel-inner">
                                                            <div ng-repeat="gallery in Section.Gallery" class="item">
                                                                <h4 style="font-weight:600;color:#bbb">{{gallery.title}}</h4>
                                            							 <p>{{gallery.description}}</p>
                                                                <img ng-src="{{gallery.image}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix">
                                                        <div data-interval="false" id="{{'section-'+chapterIndex+'-gallary-'+$index+'thumb'}}"  ng-init="initGallery('section-'+chapterIndex+'-gallary-'+$index+'thumb')" class="carousel slide">
                                                            <div class="carousel-inner">
                                                                <div ng-repeat="gallery in Section.Gallery" ng-if="$index%4==0" class="item">
                                                                  <div data-target="{{'#section-'+chapterIndex+'-gallary-'+$parent.$parent.$index}}" data-slide-to="{{$index}}" class="thumb"><img ng-src="{{Section.Gallery[$index].image}}"></div>
																						<div data-target="{{'#section-'+chapterIndex+'-gallary-'+$parent.$parent.$index}}" data-slide-to="{{$index+1}}" class="thumb"><img ng-src="{{Section.Gallery[$index+1].image}}"></div>
                                                                  <div data-target="{{'#section-'+chapterIndex+'-gallary-'+$parent.$parent.$index}}" data-slide-to="{{$index+2}}" class="thumb"><img ng-src="{{Section.Gallery[$index+2].image}}"></div>
                                                                  <div data-target="{{'#section-'+chapterIndex+'-gallary-'+$parent.$parent.$index}}" data-slide-to="{{$index+3}}" class="thumb"><img ng-src="{{Section.Gallery[$index+3].image}}"></div>
                                                              </div>
                                                                 <!-- /item -->
                                                           </div>
                                                            <!-- /carousel-inner -->
                                                            <a class="left carousel-control" href="{{'#section-'+chapterIndex+'-gallary-'+$index+'thumb'}}" role="button" data-slide="prev">
                                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                            </a>
                                                            <a class="right carousel-control" href="{{'#section-'+chapterIndex+'-gallary-'+$index+'thumb'}}" role="button" data-slide="next">
                                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>                                     
                                      </div>    
                                        <!-- datasheet -->
                                        <div ng-if="Section.Datasheet">
                                            <h4 ng-click="toggle($event);" class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Datasheet</h4>
                                            <div datasheet ng-repeat="datasheet in Section.Datasheet" style="display: none;" class="collapsable readmore_area radio-tables">
                                                <ul class="nav nav-tabs">
                                                    <li ng-repeat="buttons in datasheet.button" class="{{buttons.class}}"><a  ng-click="addTabs($index);" data-toggle="tab" class="fake-link">{{buttons.name}}</a></li>
                                                </ul>
                                                <div>
                                                    <div ng-if="tabs == $index" ng-repeat="table in datasheet.tables">
                                                        <table class="table table-striped">
                                                            <tbody>
                                                                <tr ng-repeat="tablerow in table.table" class="{{tablerow.class}}">
                                                                    <td class="table-left-title">{{tablerow.title}}</td>
                                                                    <td ng-repeat="row in tablerow.row track by $index" ng-bind-html="row"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <!--               sidebar -->
                <div class="col-md-4 col-lg-3">
                    <div class="price-sidebar" data-spy="affix" data-toggle="modal" data-target="#SummaryHelp" data-offset-top="560">
                    <h1>Summary <span class="float-right"><i class="fa fa-question-circle useCase" data-toggle="tooltip" data-placement="top" title="Help"></i></span></h1>
                        <div class="collapse-summary" ng-repeat="(chapters, cvalue) in cart" ng-if="chapters!='thirdprtycost'&&chapters!='vtcost'&&chapters!='cost'&&chapters!='count' && chapters!='thirdprtycount' && chapters!='vtcount' && chapters!='ID-1'">
                            <span ng-if="chapters!='thirdprtycost'&&chapters!='vtcost'&&chapters!='cost'&&chapters!='count' && chapters!='thirdprtycount' && chapters!='vtcount'">
                           <h4 class="collapse-summary-heading fake-link" ng-click="toggle($event)" ><i class="fa fa-play fa-rotate-90"></i> {{cart[chapters].name}} <span style="float:right">${{cart[chapters].cost}}</span></h4>
                           <div class="collapsable">
                              <span   ng-repeat="(sections, svalue) in cart[chapters]">
                              <div ng-if="cart[chapters][sections].lastclicked != 'None'"><span>{{cart[chapters][sections].lastclicked}} </span><span style="float:right" ng-if="cart[chapters][sections].cost != 0 && cart[chapters][sections].cost != null">${{cart[chapters][sections].cost}}</span></div>
                            </span>
                        </div>
                        </span>
                    </div>
                    <hr>
                    <div class="Total-price">
                        <div ng-click="toggle($event,true)" class="fake-link">
                            <h4 style="color:#AFAFAF"><i class="fa fa-play"></i> Total Cost</h4>
                        </div>
                        <div class="collapsable" style="display:none">
                            <h5 style="color:#3491CE">Village parts / Indiegogo <span style="float:right">${{cart.vtcost}}</span></h5>
                            <h5 style="color:#5bc0de;clear:both">3rd Party parts / Amazon <span style="float:right">${{cart.thirdprtycost}}</span></h5>
                            <hr>
                            <h5 style="color:#AFAFAF">Total Cost all parts <span style="float:right">${{cart.cost}}</span></h5>
                            <hr style="clear:both;">
                            <p style="font-size:11px">This is the total cost of your PC. Bear in mind that most likely most parts are from 3rd Party and that the costs we listed are guide pricing in USA as of November 2015. Cost in your country or at another time may vary.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-7">
                        <button style="display:block" data-toggle="modal" data-target="#VillageModal" class="btn btn-primary checkout"><i class="fa fa-cart-arrow-down"></i> Checkout Village</button>
                    </div>
                    <div class="col-sm-5" id="right-button-column">
                        <button style="width:100%" data-toggle="modal" data-target="#ThirdPartyModal" class="btn btn-info checkout"> <i class="fa fa-cart-arrow-down"></i> 3rd Party</button>
                    </div>
                    </div>
                     <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--End Configurator-->
    <!--This is the jQuery ui dialog box-->
    <!--End Dialog-->
    <!--<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>V²Community</h3>
                    <p>Open Source PCI Express Expansion: Cables, Host Ports and Boxes. Standards, Reference Designs, Manufacturing Kits, Documentation, Tools.</p>
                </div>
            </div>
        </div>
    </div>-->
    <div class="modal fade" id="ThirdPartyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" id="ThirdPartyHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i style="color:#FFF" class="fa fa-times fa-inverse"></i></span></button>
            <h4 class="modal-title" id="myModalLabel">Checkout Third Party (<span>{{cart.thirdprtycount}} items</span>)</h4>
          </div>
          <div class="modal-body clearfix">
            <div ng-repeat="(chapters, cvalue) in cart">
                <div ng-if="chapters!='thirdprtycost'&&chapters!='vtcost'&&chapters!='cost'&&chapters!='count'&&chapters!='ID-2'&&chapters!='ID-3'&&chapters!='ID-1' && chapters!='ID-4' && chapters!='ID-5' && chapters!='thirdprtycount' && chapters!='vtcount'">
                    <h4>{{cart[chapters].name}} <span class="info-color float-right">${{cart[chapters].cost}}</span></h4>
                    <div ng-repeat="(sections, svalue) in cart[chapters]"><a class="checkout-list" target="_blank" ng-href="{{cart[chapters][sections].lastclickedLink}}">{{cart[chapters][sections].lastclicked}}</a><span style="float:right" ng-if="cart[chapters][sections].cost != 0 && cart[chapters][sections].cost != null">${{cart[chapters][sections].cost}}</span></div>
                </div>
            </div>
            <div class="float-right">
                <h4 class="info-color">${{cart.thirdprtycost}}</h4>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="VillageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" id="VillageHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i style="color:#FFF" class="fa fa-times fa-inverse"></i></span></button>
            <h4 class="modal-title" id="myModalLabel">Checkout Village Parts (<span>{{cart.vtcount}} items</span>)</h4>
          </div>
          <div class="modal-body clearfix">
            <div ng-repeat="(chapters, cvalue) in cart">
                <div ng-if="chapters!='thirdprtycost'&&chapters!='vtcost'&&chapters!='cost'&&chapters!='count'&&chapters!='ID-6'&&chapters!='ID-7'&&chapters!='ID-1' && chapters!='thirdprtycount' && chapters!='vtcount'">
                    <h4>{{cart[chapters].name}} <span class="theme-color float-right">${{cart[chapters].cost}}</span></h4>
                    <div ng-repeat="(sections, svalue) in cart[chapters]"><a class="checkout-list" target="_blank" ng-href="{{cart[chapters][sections].lastclickedLink}}">{{cart[chapters][sections].lastclicked}}</a><span style="float:right" ng-if="cart[chapters][sections].cost != 0 && cart[chapters][sections].cost != null">${{cart[chapters][sections].cost}}</span></div>
                </div>
            </div>
            <br>
            <div class="float-right">
                <h4 class="theme-color">${{cart.vtcost}}</h4>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" id="VillageHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i style="color:#FFF" class="fa fa-times fa-inverse"></i></span></button>
            <h4 class="modal-title" id="myModalLabel">Load Config</h4>
          </div>
          <div class="modal-body clearfix">
            <textarea style="width: 565px; height: 74px;display:block;" type="text" ng-model="loadConfigField" placeholder="Place Config Here"></textarea><br>
            <p style="color:#AFAFAF"><i class="fa fa-question-circle" style="color:#f3950f"></i> Configurations can be saved or shared. Paste your configuration in the Text Area above and press the "Load Config" Button. This will load the configuration of the Text Area - overwriting your current one. If you first want to save the current configuration simply use the "Save My Config" button. This is one example how a configuration looks like:<br>
            ID-87,#ID-2,#ID-4,#ID-10,#ID-28,#ID-31,#ID-34,#ID-41,#ID-47</p>
            <button style="float:right" class="btn btn-primary" ng-click="loadConfig(loadConfigField)">Load Config</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

     <div class="modal fade" id="SaveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" id="VillageHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i style="color:#FFF" class="fa fa-times fa-inverse"></i></span></button>
            <h4 class="modal-title" id="myModalLabel">Save Config</h4>
          </div>
          <div class="modal-body clearfix">
            <textarea style="width: 565px; height: 74px;display:block;" type="text" ng-model="saveConfigField"></textarea>
            <p style="color:#AFAFAF"><i style="color:#f3950f" class="fa fa-question-circle"></i> This is your configuration. Copy it to your clipboard. Now you can either 1) paste it into an email, forum or our Indiegogo Campaign Comments section to get help or advice 2) save it in a text document so you can load it later to continue your session</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

     <div class="modal fade" id="ConfigurationHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" id="VillageHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i style="color:#FFF" class="fa fa-times fa-inverse"></i></span></button>
            <h4 class="modal-title" id="myModalLabel">Help V²Configuration</h4>
          </div>
          <div class="modal-body clearfix">
            <h2>V²Configuration Pane</h2>
            <p>The left pane of the V²Configurator assists you in making choices which in turn will create your Custom PC's Configuration.</p>
            <h2>First choose your Field of Application</h2>
            <p>Navigate to Field of Application. 1) Unfold Wizard, 2) Unfold "Field of Application</p>
            <h2>For more Information read Advice</h2>
            <p>Within the "Field of Application" unfold Advice and it will guide you on how to proceed. In fact every section that you unfold contains Advice, ready at your fingertip in case you need it.</p>
            <h2>If there is a Triangle you can unfold it</h2>
            <p>Its kind of like Easter Eggs. We have hidden a lot of goodies. Click the triangle to unfold.</p>
            <h2>Navigate by unfolding and collapsing</h2>
            <p>By unfolding you dig deeper. You can unfold as many Chapters, Sections and Sub Sections as you like. When collapsing the parent the Configurator will remember the state of folding for its children. In case you get lost, collapse and scroll up to reach the top level, from where you can dig down again.</p>
            <h2>Color Code</h2>
            <p>The 1. Chapter (Orange) is the Wizard. With a few clicks you determine the broad strokes of your configuration. Chapter 2 ... 5 are the Parts provided by us (Blue). Chapter 6 ... 7 (Cyan) contain the parts provided by Third Parties, such as Amazon / Newegg or your favorite shop for PC parts.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="SummaryHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" id="VillageHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i style="color:#FFF" class="fa fa-times fa-inverse"></i></span></button>
            <h4 class="modal-title" id="myModalLabel">Help V²Configuration</h4>
          </div>
          <div class="modal-body clearfix">
            <h2>V²Summary Pane</h2>
            <p>This Pane shows all your parts which your Custom PC will be made off. On a wide screen it is shown to the right. On a small screen to the bottom of the page.</p>
            <h2>Sub-Summaries</h2>
            <p>For you convenience the costs are grouped. Each group can be unfolded or collapsed to assist your overview.</p>
            <h2>Total Cost</h2>
            <p>Total cost is shown on the bottom. Please read the disclaimer when unfolded to avoid any confusion.</p>
            <h2>Check Out</h2>
            <p>Pressing the Checkout Button opens the Checkout Window, which list all items. When clicking the item a new tab opens with its online shop page. Within the "Checkout Village Parts" window all links will open our parts on Indiegogo. Within the "Checkout Third Party" Window all links will open the respective 3rd Party Parts on Amazon or Newegg. We have no association with either shop. You are welcome to buy the same or similar part in another shop of your preference.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>