<div class="col-sm-7">
   <label title="ViDock Mini Quiet is low profile with 60 mm height and it is a very quiet with 16 dBA noise during normal work. It supports CPU up to 65W TDP, two bays 2.5 and one mSATA slot. Choose ViDock Mini Quiet if lowest height is paramount.">
   <input type="radio" class="case" name="case" case="2L" value="77"><span>ViDock Mini 2L (Tiny)</span></label>
   <br>
   <label title="ViDock Mini eXtreme goes to the extreme of what a Mini Case can do. CPU support for up to 90W TDP. Fan support for up to 60 mm height which can use the ultra low noise CPU fan that only produces 11 dBA noise in normal operation, which is whisper quiet. Space for 6 disks total, 4 bays 2.5 inches and 2 slots mSATA. PCIe low profile heig ht GPU cards supported, both single and double bracket width. ViDock Mini eXtreme is the most Universal case. This should be your default choice.">
   <input type="radio" name="case" class="case" case="4L" value="88"><span>ViDock Mini 4L (Tiny)</span></label>
   <br>
   <label>
   <input type="radio" name="case" class="case" case="6L" value="99"><span>ViDock Mini 6L (Ultra Small Form Factor)</span></label>
   <br>
   <label title="None">
   <input type="radio" imgAttr="images/expansion/config/ViDock-Mini-2L-Ghost-120px.png" name="case" value="0"><span>None</span></label>
</div>
<div class="col-sm-5">
   <label>
   <input type="radio" class="cover" aimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-2L-Black-120px.png" bimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-4L-Black-120px.png" cimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-6L-Black-120px.png" name="cover" value="0" checked><span>Black</span></label>
   <br>
   <label>
   <input type="radio" class="cover" aimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-2L-Black-120px.png" bimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-4L-Silver-120px.png" cimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-6L-Black-120px.png" name="cover" value="0"><span>Silver</span></label>
   <br>
   <label>
   <input type="radio" class="cover" aimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-2L-Black-120px.png" bimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-4L-Blue-120px.png" cimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-6L-Black-120px.png" name="cover" value="0"><span>Blue Plexiglas</span></label>
   <br>
   <label>
   <input type="radio" class="cover" aimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-2L-Black-120px.png" bimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-4L-Red-120px.png" cimgAttr="http://www.villagetronic.com/beta/images/expansion/config/ViDock-Mini-6L-Black-120px.png" name="cover" value="0"><span>Red Plexiglas</span></label>
</div>
  <span ng-init="domloaded()"></span>