<div class="jumbotron jumbotron-primary masthead">
   <div class="container">
   	 <div class="row">
   	 	<div class="col-sm-2">
   	 		<img src="images/expansion/config/v2configurator-logo-292x256.png">
   	 	</div>
   		<div class="col-sm-8">
   			<h1>V²Configurator</h1>
   			<p>Powerful Configurator & Price Calculator with easy Config</p>
   			<p>
   			   <a href="https://github.com/V-Squared/v2-Configurator/wiki" class="btn btn-primary btn-border btn-lg">GitHub Repo</a>
   			</p>		
   		</div>
	 </div>
   </div>
</div>