
<div class="jumbotron jumbotron-primary masthead">
   <div class="container">
   	 <div class="row">
   	 	<img style="width:inherit;" src="images/1.png" alt="" />
         <div class="masthead-list" style="margin:0 auto;">
           <p>
             <a href="https://www.indiegogo.com/project/preview/29abbc81">1. ViCase Indiegogo Campaign</a>
           </p>
           <p>
             2. Choose your Configuration in Wizard
           </p>
           <p>
             3. Optional: Customize your PC
           </p>
           <p>
             4. Check Out & Pay
           </p>
         </div>
         <div class="masthead-list">
           <p style="font-size:14px;">
             Contribute to this Open Source project on its <a href="https://github.com/V-Squared/v2-Configurator/wiki" target="_blank" rel="noreferrer">GitHub Repository</a>
           </p>
         </div>
   		</div>
	 </div>
   </div>
