
<div class="jumbotron jumbotron-primary masthead">
   <div class="container">
   	 <div class="row">
   	 	<img style="width:inherit;" src="images/1.png" alt="" />
         <div class="masthead-list" style="margin:0 auto;">
           <p>
             <a href="https://www.indiegogo.com/project/preview/29abbc81">1. ViCase Indiegogo Campaign</a>
           </p>
           <p>
             2. Configure your PC
           </p>
           <p>
             3. Check Out & Pay
           </p>
         </div>
   		</div>
	 </div>
   </div>
