<div ng-repeat="item in data[0].Config">
<div class="col-sm-2"></div>
<div class="col-sm-10">
  <h3 class="sub-sectionToggle"><i class="fa fa-play"></i> <span>{{item.name}}</span></h3>
  <div class="readmore_group">
     <h4 class="fake-link readmore_button block-link open"><i class="fa fa-play fa-rotate-90"></i> Your Choice</h4>
     <div class="readmore_area show-first open radio_button">
       <div ng-repeat="choice in item.yourChoice" id="{{'chapter-0' + '-section-'+$parent.$index+'-Button-'+$index }}">
       <label><input type="radio" for="{{choice.for}}" name="{{item.part}}" data-child='{{choice.Child_Name}}' imgAttr="{{choice.img}}" value="{{choice.value}}"><span data-toggle="tooltip" data-placement="right">{{choice.name}}</span></label>
       </div>
     </div>
  </div>
</div>
</div>
