<div class="village" ng-repeat="item in data[1].ViCase">
   <div class="col-sm-2">
      <img src="{{item.url}}">
   </div>
   <div class="col-sm-10">
      <h3 class="sub-sectionToggle"><i class="fa fa-play"></i>{{item.name}}</h3>
      <div class="readmore_group">
         <h4 class="fake-link readmore_button block-link open"><i class="fa fa-play fa-rotate-90"></i> Your Choice</h4>
         <div class="readmore_area show-first open radio_button">
            <ng-include src="'./templates/vicase-radio/vicase.html'"></ng-include>
         </div>
         <h4 class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Comparison Table</h4>
         <div class="readmore_area">
            <div>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th ng-repeat="heading in item.TableHeading" class="{{heading.class}}">{{heading.name}}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="row in item.TableBody">
                        <td class="table-left-title">{{row.title}}</td>
                        <td>{{row.name2}}</td>
                        <td>{{row.name3}}</td>
                        <td>{{row.name4}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <h4 class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Advice</h4>
         <div class="readmore_area">
            {{item.Advice.content}}
         </div>
         <h4 class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Gallery</h4>
         <div class="readmore_area">
            <div id="carousel" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner GallerySlideshow">
                 	<div ng-repeat="gallery in item.Gallery" class="item">
                      <h4 style="font-weight:bold">{{gallery.title}}</h4>
                      <p>{{gallery.description}}</p>
	                   <img src="images/{{gallery.image}}">
                    </div>
               </div>
            </div>
            <div class="clearfix">
               <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner GalleryThumbNail">
                     <div data-target="#carousel" data-slide-to="{{$index}}" class="thumb" ng-repeat="gallery in item.Gallery"><img src="images/{{gallery.image}}"></div>
                     <!-- /item -->
                  </div>
                  <!-- /carousel-inner -->
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
               </div>
               <!-- /thumbcarousel -->
            </div>
            <!-- /clearfix -->
         </div>
         <h4 class="fake-link readmore_button block-link"><i class="fa fa-play"></i> Datasheet</h4>
         <div ng-repeat="datasheet in item.Datasheet" class="readmore_area radio-tables">
            <ul class="nav nav-tabs table-tab">
               <li ng-repeat="buttons in datasheet.button" class="{{buttons.class}}"><a class="fake-link">{{buttons.name}}</a></li>
            </ul>
            <div class="tableSection open">
               <table class="table table-striped">
                  <tbody>
                     <tr ng-repeat="row in datasheet.table1" class="{{row.class}}">
                        <td class="table-left-title">{{row.name1}}</td>
                        <td>{{row.name2}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="tableSection closed">
               <table class="table table-striped">
                  <tbody>
                     <tr ng-repeat="row in datasheet.table2" class="{{row.class}}">
                        <td class="table-left-title">{{row.name1}}</td>
                        <td>{{row.name2}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="tableSection closed">
               <table class="table table-striped">
                  <tr ng-repeat="row in datasheet.table3" class="{{row.class}}">
                     <td class="table-left-title" style="width:20%">{{row.name1}}</td>
                     <td>{{row.name2}}</td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <br>
      <br>
   </div>
</div>
<div class="clearfix"></div>
<hr>
<div class="col-sm-2"></div>
<div class="col-sm-10">
   <h3>ViCool Silent</h3>
   <p>Family of Virtually Silent CPU Coolers. Large fan size that run at a constant 1200 RPM. Supersized heat exchanger does not require fan to spin up under high CPU load. At 1 m (3 feet) you can hear the sound pressure level of 15 dBA, which is equivalent to a human quietly breathing, thus making these cooler virtually silent. ViCool Silent Family is designed as a System with ViDock Mini Case. Only when used together can they achieve the extreme silent operation under full CPU load.</p>
   <br>
   <label title="27 mm flat, 15 ... 25 dBA, 3 heat pipes (that's why it is more expensive). Supports CPU up to 65W TDP. Choose this cooler if you are using the ViDock Mini Quiet Housing">
   <input type="radio" name="cooler" value="29"><span>ViCool Silent 25W - 2L</span></label>
   <br>
   <label>
   <input type="radio" name="cooler" value="39"><span>ViCool Silent 35W - 2L</span></label>
   <br>
   <label>
   <input type="radio" name="cooler" value="39"><span>ViCool Silent 55W - 4L+</span></label>
   <br>
   <label>
   <input type="radio" name="cooler" value="59"><span>ViCool Silent 88W - 4L+</span></label>
   <br>
   <label>
   <input type="radio" name="cooler" value="0"><span>None</span></label>
</div>
<div class="clearfix"></div>
<hr>
<div class="col-sm-2"></div>
<div class="col-sm-10">
   <h3>Pico Power Supply</h3>
   <p>Mini Computer use so called Pico Power Supplies. They do away with the huge power cables of ATX power supplies, as the power supply PCB is directly soldered to the ATX connector. Their input is 12V DC, thus you also need the AC / DC Adapter. The Pico Power Supply comes with our SATA Power Splitter for support of up to 6 drives.</p>
   <br>
   <label title="Choose this if your CPU has TDP equal or smaller 65W and you do not use a GPU card.">
   <input type="radio" name="powerS" value="35"><span>Pico Power 120W </span></label>
   <br>
   <label title="Choose this if you plan to use a GPU card or a CPU with TDP > 65W">
   <input type="radio" name="powerS" value="55"><span>Pico Power 200W </span></label>
   <br>
   <label>
   <input type="radio" name="powerS" value="0"><span>None</span></label>
</div>
<div class="clearfix"></div>
<hr>
<div class="col-sm-2"></div>
<div class="col-sm-10">
   <h3>AC / DC Adapter</h3>
   <p>You need the AC / DC Adapter to provide 12 V DC to the input of the Pico Power Supply. Input ranges from 100 to 240 V AC, 50 ... 60 Hz.</p>
   <br>
   <label title="Choose 60W for AMD Athlon APU setup with CPUs under or equal 20W TDP.">
   <input type="radio" name="AC" value="19"><span>AC / DC Adapter 12V - 60W</span></label>
   <br>
   <label title="Choose 120W for CPUs under or equal 65 W TDP and you do not want to add a GPU to your system">
   <input type="radio" name="AC" value="34"><span>AC / DC Adapter 12V - 120W</span></label>
   <br>
   <label title="Choose 240W for CPUs greater 65 TDP and / or you are adding a GPU">
   <input type="radio" name="AC" value="49"><span>AC / DC Adapter 12V - 200W</span></label>
   <br>
   <label>
   <input type="radio" name="AC" value="0"><span>None</span></label>
</div>
</div>