<div style="padding-top:0;" class="col-sm-12">
   <h3 class="center">Choose Intel or AMD Platform</h3>
</div>
<div class="col-sm-2 col-sm-offset-2">
   <div class="intel-AMD-button">
      <img id="intel" style="margin:0;" src="images/expansion/config/intel.jpg">
   </div>
</div>
<div class="col-sm-2 col-sm-offset-3">
   <div class="intel-AMD-button">
      <img id="AMD" src="images/expansion/config/AMD.jpg">
   </div>
</div>
<div class="clearfix"></div>
<br>
<hr>
<div class="alert alert-warning show-text">
   <i class="fa fa-exclamation-triangle"></i> Click on AMD or Intel Logo to choose compatibility for: Motherboard, Processor and RAM. Select Intel for high performance and AMD for low cost
</div>
<div class="intel-show">
   <h1>1. Intel</h1>
   <div class="col-sm-2">
      <img src="images/expansion/config/mainBoard.jpg">
   </div>
   <div class="col-sm-10">
      <h3>Intel MotherBoard</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br>
      <label>
      <input type="radio" name="motherBoard" value="100"><span>Intel MotherBoard1</span></label>
      <br>
      <label>
      <input type="radio" name="motherBoard" value="200"><span>Intel MotherBoard2</span></label>
      <br>
      <label>
      <input type="radio" name="motherBoard" value="300"><span>Intel MotherBoard3</span></label>
      <br>
      <label>
      <input type="radio" name="motherBoard" value="0"><span>None</span></label>
   </div>
   <div class="clearfix"></div>
   <hr>
   <div class="col-sm-2">
      <img src="images/expansion/config/intel.png">
   </div>
   <div class="col-sm-10">
      <h3>Intel Processer(CPU)</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br>
      <label>
      <input type="radio" name="proc" value="50"><span>Intel Celeron G1840 &nbsp;</span></label>
      <br>
      <label>
      <input type="radio" name="proc" value="89"><span>Intel Pentium G3240 &nbsp;</span></label>
      <br>
      <label>
      <input type="radio" name="proc" value="169"><span>Intel Core i3-4350T &nbsp;</span></label>
      <br>
      <label>
      <input type="radio" name="proc" value="249"><span>Intel Core i5-4690T &nbsp;</span></label>
      <br>
      <label>
      <input type="radio" name="proc" value="349"><span>Intel Core i7-4790T&nbsp;</span></label>
      <br>
      <label>
      <input type="radio" name="proc" value="400"><span>Intel i5-T &nbsp;</span></label>
      <br>
      <label>
      <input type="radio" name="proc" value="0"><span>None</span></label>
   </div>
   <div class="clearfix"></div>
   <hr>
   <div class="col-sm-2">
      <img src="images/expansion/config/RAM.png">
   </div>
   <div class="col-sm-10">
      <h3>Intel Memory (RAM)</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br>
      <label>
      <input type="radio" name="RAM" value="60"><span>Intel 2 GB DDR3</span></label>
      <br>
      <label>
      <input type="radio" name="RAM" value="120"><span>Intel 4 GB DDR3</span></label>
      <br>
      <label>
      <input type="radio" name="RAM" value="240"><span>Intel 8 GB DDR3</span></label>
      <br>
      <label>
      <input type="radio" name="RAM" value="300"><span>Intel 16 GB DDR3</span></label>
      <br>
      <label>
      <input type="radio" name="RAM" value="0"><span>None</span></label>
   </div>
   <div class="clearfix"></div>
   <br>
</div>
<div class="AMD-show">
   <h1>1. AMD</h1>
   <div class="col-sm-2"></div>
   <div class="col-sm-10">
      <h3>AMD Motherboard</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br>
      <label>
      <input type="radio" name="AMDMother" value="50"><span>AMD Motherboard 1</span></label>
      <br>
      <label>
      <input type="radio" name="AMDMother" value="100"><span>AMD Motherboard 2</span></label>
      <br>
      <label>
      <input type="radio" name="AMDMother" value="150"><span>AMD Motherboard 3</span></label>
      <br>
      <label>
      <input type="radio" name="AMDMother" value="0"><span>None</span></label>
   </div>
   <div class="col-sm-2"></div>
   <div class="col-sm-10">
      <h3>AMD Processer(CPU)</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br>
      <label>
      <input type="radio" name="AMDCPU" value="25"><span>AMD Processer 1 </span></label>
      <br>
      <label>
      <input type="radio" name="AMDCPU" value="100"><span>AMD Processer 2 </span></label>
      <br>
      <label>
      <input type="radio" name="AMDCPU" value="150"><span>AMD Processer 3 </span></label>
      <br>
      <label>
      <input type="radio" name="AMDCPU" value="0"><span>None</span></label>
      <div class="clearfix"></div>
      <br>
   </div>
   <div class="clearfix"></div>
   <hr>
   <div class="col-sm-2"></div>
   <div class="col-sm-10">
      <h3>AMD Memory(RAM)</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br>
      <label>
      <input type="radio" name="AMDMemory" value="50"><span>AMD Memory 2GB</span></label>
      <br>
      <label>
      <input type="radio" name="AMDMemory" value="100"><span>AMD Memory 4GB</span></label>
      <br>
      <label>
      <input type="radio" name="AMDMemory" value="200"><span>AMD Memory 8GB</span></label>
      <br>
      <label>
      <input type="radio" name="AMDMemory" value="300"><span>AMD Memory 16GB</span></label>
      <br>
      <label>
      <input type="radio" name="AMDMemory" value="0"><span>None</span></label>
   </div>
   <div class="clearfix"></div>
   <br>
</div>
<br>
<div class="col-sm-2">
   <img src="images/expansion/config/mSATA-SSD.gif">
</div>
<div class="col-sm-10">
   <h3>SSD (mSATA)</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </p>
   <br>
   <label>
   <input type="radio" name="mSATA" value="0"><span>No SSD</span></label>
   <br>
   <label>
   <input type="radio" name="mSATA" value="120"><span>Samsung SSD 840 EVO Series 120GB, mSATA 6Gb/s</span></label>
   <br>
   <label>
   <input type="radio" name="mSATA" value="250"><span>Samsung SSD 840 EVO Series 250GB, mSATA 6Gb/s</span></label>
   <br>
   <label>
   <input type="radio" name="mSATA" value="500"><span>Samsung SSD 840 EVO Series 500GB, mSATA 6Gb/s</span></label>
   <br>
   <label>
   <input type="radio" name="mSATA" value="1000"><span>Samsung SSD 840 EVO Series 1TB, mSATA 6Gb/s</span></label>
</div>
<div class="clearfix"></div>
<hr>
<div class="col-sm-2">
   <img src="images/expansion/config/SSD.png">
</div>
<div class="col-sm-10">
   <h3>SSD / Festplatte Nr.1 *</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </p>
   <br>
   <label>
   <input type="radio" name="SSD1" value="0"><span>No Disk</span></label>
   <br>
   <label>
   <input type="radio" name="SSD1" value="60"><span>HDD 2.5" 500 GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD1" value="100"><span>HDD 2.5" 1000 GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD1" value="120"><span>Samsung SSD 850 EVO 120GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD1" value="250"><span>Samsung SSD 850 EVO 250GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD1" value="500"><span>Samsung SSD 850 EVO 500GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD1" value="1000"><span>Samsung SSD 850 EVO 1000GB</span></label>
</div>
<div class="clearfix"></div>
<hr>
<div class="col-sm-2">
   <img src="images/expansion/config/SSD.png">
</div>
<div class="col-sm-10">
   <h3>SSD / Festplatte Nr.2 *</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </p>
   <br>
   <label>
   <input type="radio" name="SSD2" value="0"><span>No Disk</span></label>
   <br>
   <label>
   <input type="radio" name="SSD2" value="60"><span>HDD 2.5" 500 GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD2" value="100"><span>HDD 2.5" 1000 GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD2" value="120"><span>Samsung SSD 850 EVO 120GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD2" value="250"><span>Samsung SSD 850 EVO 250GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD2" value="500"><span>Samsung SSD 850 EVO 500GB</span></label>
   <br>
   <label>
   <input type="radio" name="SSD2" value="1000"><span>Samsung SSD 850 EVO 1000GB</span></label>
</div>
