<div ng-repeat="item in data[5].OS">
    <hr ng-show='$index > 0'>
    <div class="col-sm-2">
        <img src="{{item.url}}">
    </div>
    <div class="col-sm-10">
        <h3>{{item.name}}</h3>
        <div ng-repeat="opt in item.options">
            <label>
                <input type="radio" name="os" value="{{opt.value}}"><span>{{opt.name}}</span></input>
            </label>
            <br>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
  <span ng-init="domloaded()"></span>